*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 430px) {
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    /* Navbar  """"""""""""""""""""""""""""""""""""""""""" */
    .nav-container {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        /* height: 60px; */
        height: 4em;
        align-items: center;
        /* padding: 10px; */
        padding: 0.8em;
    }

    .hamburger  {
        border: none;
    }

    .logo-container {
        width: 110%;
        height: 40px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .logo-container .logo {
        /* height: 40px; */
        height: 2.5em;
    }

    .list-items-nav {
        /* padding: 10px 20px; */
        padding: 0.8em 1.1em;
        font-size: 0.9em;
    }

    .list-items-nav .item {
        /* padding-bottom: 10px; */
        padding-bottom: 0.8em;
    }

    /* Sous liste Club """"""""""""""""""""""""""""""""" */
    .sous-list-club {
        /* opacity: 1; */
        /* visibility: visible; */
        padding: 10px;
        border-radius: 10px;
        top: 150px;
        left: 120px;
        width: 160px;
        font-size: 0.8em;
    }

    .sous-list-club .item-sous-list-club {
        height: auto;
        margin: 10px 0px;
        padding: 0;
        /* background-color: tomato; */
    }
    
    .sous-list-club li a {
        margin: 0;
        padding: 0;
        /* background-color: aquamarine; */
    }

    .sous-list-club .item-sous-list-club a::after {
        display: none;
    }

    /* Facebook """"""""""""""""""""""""""""""" */

    .facebook-icone-nav {
        /* right: 10px; */
        right: 0.8em;
    }

    .facebook-icone-nav img {
        /* width: 20px; */
        width: 1.5em;
        /* height: 20px; */
        height: 1.5em;
    }

    /* Accueil  """""""""""""""""""""""""""""""""""""""" */
    .accueil-container {
        position: relative;
        display: block;
        /* top: 65px; */
        top: 4em;
        /* height: 200px; */
        height: 12em;
    }

    .img-sport-loisirs {
        display: none;
    }

    .accueil-container .img-container {
        position: relative;
        /* width: 310px; */
        width: 19em;
        margin: 0 auto;
    }

    .img-container img {
        object-fit: cover;
        object-position: 0;

    }

    .pass-loisir-container {
        display: none;
    }

    /* Galerie  '''''''''''''''''''''''''''''''' */
    .cards-section {
        position:  relative;
        /* top: 100px; */
        top: 6em;
        /* width: 310px; */
        width: 19em;
        display: block;
        margin: 0 auto;
    }
    
    .card-container{
        /* width: 310px; */
        width: 19em;
        
    }


    .facebook-icone-main {
        display: none;
    }


    /* Modales ************************************** */

    .btn-toggle  {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .btn-toggle::before {
        width: 5px;
        height: 5px;
        left: 4px;
    }

    .btn-toggle::after {
        width: 5px;
        height: 5px;
        left: 10px;
    }

    .tarifs-modal-container {
        position: absolute;
        width: 100vw;
      }

    .tarifs-overlay-modale  {
        height: 900vh;
    }

    .tarifs-content {
        position: relative;
        top: 80px;
        width: 300px;
        font-size: 1em;
      }
      .tarifs-container .tarifs-drop::before  {
        top: 40px;
        left: 55px;
        width: 30px;
        height: 30px;
      }
      .tarifs-container .tarifs-drop::after {
        top: 20px;
        left: 100px;
        width: 15px;
        height: 15px;
      }
      /* .tarifs-titre-container {
        
      } */
      .tarifs-titre-container h1 {
        font-size: 1em;
      }

      .tarifs-container .tarifs-drop {
        width: 300px;
        height: 320px
      }

      .tarifs-container .tarifs-drop .tarifs-content  {
        
      }

      .tarifs-container .tarifs-drop .tarifs-content h2 {
        position: relative;
        top: -80px;
        font-size: 1.5em;
      }
      .tarifs-container .tarifs-drop .tarifs-content p {
        position: relative;
        top: -80px
      }

      .tarifs-content a {
        top: -80px
      }


    /* media query footer ****************************/
    
    .footer-container {
        display: flex;
      }
      
      .content-footer {
        flex-direction: column;
      
      }
      
      .footer-horaire {
        order: 2;
        font-size: 0.8em;
      }
      
      /* .footer-horaire img  */
      
      .footer-horaire  h3 {
        padding-bottom: 0;
      }
      
      .footer-horaire p {
        padding-bottom: 10px;
      }
      
      /* .footer-horaire .permamence-list */
      
      .footer-sponsors {
        width: 100%;
        order: 1;
      
      }
      
      /* .footer-sponsors h2 */
      
      .footer-sponsors img {
        height: 3em;
      }
      
      .footer-assoc {
        order: 3;
        font-size: 0.8em;
      }
      
      .footer-assoc p:hover {
        color: #fff;
      }
      
      .facebook-icone-footer img {
        width: 2em;
      }
}


  
  

