.logo-container .logo {
    height: 100px;
    margin-left: 30px;
}

.list-items-nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    list-style-type: none;
    font-family: "Poppins";
    font-size: 1.3em;
    font-weight: 500;
}

.list-items-nav .item {
    padding-bottom: 20px;
}

.item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background: #000 ;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    will-change: transform;
  }
  
  .item:hover::after{
    transform: scaleX(1);
  }

.list-items-nav .item a {
    text-decoration: none;
    color: #333;
}

.sous-list-club {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100px;
    list-style: none;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: -2px 5px 10px 2px rgba(70, 70, 70, 0.7);
    font-size: 1em;

    transition: opacity 0.2s;
    transition-delay: 300ms;

    background: lightcoral;
    background: #fff;
}

.item-05:hover .sous-list-club {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s,
                visibilty 0.3s;
    transition-delay: 0ms;
    
}

.sous-list-club .item-sous-list-club {
    height: 50px;
    transform: scale(1);
    transition: transform 0.2s;
}

.sous-list-club .item-sous-list-club:hover {
    transform: scale(1.06);
    transform: translateX(5px);
}



.sous-list-club .item-sous-list-club a::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1.5px;
    top: 25px;
    left: -10px;
    background: #000 ;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    will-change: transform;
}

.sous-list-club .item-sous-list-club a:hover::after {
    transform: scaleX(1);

}