.logo-container .logo {
    height: 100px;
    margin-left: 30px;
}

.hamburger {
    display: none;
}

.list-items-nav {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    list-style-type: none;
    font-family: "Poppins";
    font-size: 1.3em;
    font-weight: 500;
}

.list-items-nav .item {
    padding-bottom: 20px;
}

.item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background: #000 ;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    will-change: transform;
  }
  
  .item:hover::after{
    transform: scaleX(1);
  }

.list-items-nav .item a {
    text-decoration: none;
    color: #333;
}

.sous-list-club {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100px;
    list-style: none;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: -2px 5px 10px 2px rgba(70, 70, 70, 0.7);
    font-size: 1em;

    transition: opacity 0.2s;
    transition-delay: 300ms;

    background: lightcoral;
    background: #fff;
}

.item-05:hover .sous-list-club {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s,
                visibilty 0.3s;
    transition-delay: 0ms;
    
}

.sous-list-club .item-sous-list-club {
    height: 50px;
    transform: scale(1);
    transition: transform 0.2s;
}

.sous-list-club .item-sous-list-club:hover {
    transform: scale(1.06);
    transform: translateX(5px);
}



.sous-list-club .item-sous-list-club a::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1.5px;
    top: 25px;
    left: -10px;
    background: #000 ;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    will-change: transform;
}

.sous-list-club .item-sous-list-club a:hover::after {
    transform: scaleX(1);

}

.facebook-icone-nav {
    position: absolute;
    right: 30px;
}

.facebook-icone-nav img {
    height: 50px;
    width: 50px;
}

/** Media Query """"""""""""""""""""""""""""""""""""""" */


@media (max-width: 940px) {

    /* Nav media 940  */

    .nav-container {
        grid-area: 1 / 1 / 2 / 2;
        position: relative;
        width: 100%;
        height: 70px;
    }

    .logo-container {
        order: 2;
        /* width: 300px; */
        width: 10%;
        height: 100%;
        margin: 0 300px;
    }

    .logo-container .logo {
        height:60px;
    }

    .hamburger {
        position: relative;
        align-items: center;
        width: 20px;
        height: 20px;
        left: 15px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
      }
    
      .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
      }

      .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

    .list-items-nav {
        position: absolute;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        top: 100%;
        left: 0;
        width: auto;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        background-color: #fafafa;
        transform: translate(-100%);
        transition: transform 0.3s ease-out;
    }

    .open {
        transform: translate(0%);
    }

    .facebook-icone-nav {
        order: 3;
        position: relative;
        right: 20px;
    }

    .facebook-icone-nav img {
        width: 30px;
        height: 30px;
    }

}